on early-init
    start ueventd

on init
    export PATH /sbin:/system/sbin:/system/bin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data

    symlink /system/etc /etc
    symlink /system/bin/ash /system/bin/sh

    mkdir /data
    mkdir /cache
    mkdir /stash
    mkdir /bootloader
    mkdir /tmp
    mount /tmp /tmp tmpfs
    chmod 1777 /tmp

on post-fs
    mount squashfs /dev/block/sda3 /data
    mount ext4 /dev/block/sda4 /stash rw
    mount squashfs /dev/block/sdb3 /data
    mount ext4 /dev/block/sdb4 /stash rw
    mount squashfs /dev/block/sdc3 /data
    mount ext4 /dev/block/sdc4 /stash rw

    wait /data/system.img 20
    #Disable auto-start
    #start installer

on boot
    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical

service installer /system/bin/installer
    console
    oneshot
    disabled

service logcat /system/bin/logcat
    console

service console /system/bin/sh
    console
#    Start console and let the user run the installer
#    disabled

service adbd /sbin/adbd
    disabled

on property:init.svc.installer=stopped
    wait 2
    start console
    start adbd
